/* build time:Sun May 23 2021 13:48:11 GMT+0800 (GMT+08:00)*/
.fix{position:fixed;top:0;left:0}.clearfix:after{display:block;content:'\200B';height:0;clear:both}.clearfix{z-index:10}
/* rebuild by neat */